DJANGO_SECRET_KEY=replace-with-long-random-secret
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=YOUR_GCE_EXTERNAL_IP,localhost,127.0.0.1

POSTGRES_DB=iot_backend
POSTGRES_USER=iot_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

SENSOR_API_TOKEN=change-this-token
